name: Docker Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build y push de la imagen
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: sergioruizvillatoro/hello-world:latest

      - name: Despliegue en EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker stop hello-world || true
            docker rm hello-world || true
            docker pull sergioruizvillatoro/hello-world:latest
            docker run -d -p 5000:5000 --name hello-world sergioruizvillatoro/hello-world:latest
